@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  background: #181818;
}

.header {
  padding: 16px 40px 0 40px;
}

.header__nav {
  display: flex;
  gap: 2%;
  align-items: center;
}

.header__search {
  display: flex;
  flex-direction: row;
}

.header__search-bar {
  padding: 10px 16px;
  color: #ffffff;
  width: 480px;
  height: 48px;
  border: 1px solid #6f6f6f;
  background: #181818;
  border-radius: 8px 0px 0px 8px;
}

.header__search-boton {
  width: 88px;
  height: 48px;
  padding: 12px 32px;
  border-radius: 0px 8px 8px 0px;
  background-color: #373737;
  border: 0;
}

.header__search-boton img {
  height: 100%;
  filter: invert(75%);
}

.header__video {
  display: flex;
  list-style: none;
  gap: 10px;
  margin-left: auto;
}

.header__video li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.header__video li a:hover {
  font-weight: 700;
}

.container {
  display: flex;
  gap: 10px;
}

.container__actual {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container__iframe {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}

.iframe {
  padding: 40px 40px 0 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.container__sugeridos {
  width: 36%;
  height: 100%;
  padding: 40px 30px 30px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.container__sugeridos h2 {
  width: 100%;
  text-align: justify;
  color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
}

.container__actual h1 {
  width: 100%;
  text-align: justify;
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}

.cardVideo {
  display: flex;
  gap: 12px;
}

.cardVideo figure img {
  width: 195px;
  height: 109px;
  object-fit: cover;
}

.section__info {
  display: flex;
  flex-direction: column;
}
.section__title {
  width: 100%;
  overflow: hidden;
}

.section h3 {
  width: 100%;
  text-align: justify;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardVideo section div img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.cardVideo section div span {
  color: #a3a3a3;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.container__datos {
  display: flex;
  gap: 7px;
  padding: 0 40px 0 40px;
}

.container__datos img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.container__datos span {
  color: #a3a3a3;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}
.container__informacion {
  display: flex;
  flex-direction: column;
}
.container__informacion span {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 900px) {
  .header {
    padding: 8px 28px;
  }
  .header__search-bar {
    width: 80%;
  }
  .header__search {
    align-items: center;
  }
  .header__search-boton {
    background-color: #181818;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
  }
  .header__search-boton img {
    filter: invert(75%);
  }
  .header__nav {
    justify-content: space-between;
  }
  .container {
    display: block;
  }
  .container__actual {
    width: 100%;
  }
  .container__sugeridos {
    width: 100%;
    padding: 25px;
    justify-content: center;
  }
  .container__sugeridos h2 {
    justify-content: center;
  }
  #container_title h1 {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .cardVideo {
    display: flex;
    flex-wrap: wrap;
    width: calc(50% - 10px);
  }

  .section h3 {
    width: 195px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    padding: 8px 28px;
  }
  .header__search-bar {
    width: 80%;
  }
  .header__search {
    align-items: center;
  }
  .header__search-boton {
    background-color: #181818;
    border: none;
    padding: 0;
    width: 28px;
    height: 28px;
  }
  .header__search-boton img {
    filter: invert(75%);
  }
  .header__nav {
    justify-content: space-between;
  }
  .cardVideo {
    width: 75%;
  }
  /* .container__iframe {
    height: 100%;
  } */
  #container_title h1 {
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .cardVideo__figure {
    width: 100%;
    height: 110px;
  }
  .section {
    width: 195px;
  }
}
